{%extends "index.html"%} {%block links6%}
<link rel="stylesheet" href="/static/css/blog_details.css"> {%endblock%} {%block body %}
<div class="container">
    <div class="row">
        <div class="col-12 posts">
            <h1>Blog details</h1>
            <p>Dexfolio is a multidisciplinary digital agency based in New York. <br> We believe good design solves business problems..</p>
        </div>
    </div>
</div>
<div class="row text-align-center justify-content-center">
    <div class="col-11 blackside">

    </div>
</div>

<div class="container">
    <div class="row secondpart">
        <div class="col-5 col-sm-5 col-md-4 col-lg-3">
            <div class="row text-align-center justify-content-center">
                <div class=" picture">

                </div>
                <div class=" by">
                    <p>by <a href="#"><u>Angel Stephens</u></a></p>
                </div>
            </div>

        </div>
        <div class="image">
            <svg xmlns="http://www.w3.org/2000/svg" width="33.685" height="37.678" viewBox="0 0 33.685 37.678">
                <g id="noun_calender_2317792" transform="translate(-0.157 -0.161)">
                    <g id="Group">
                        <path id="Path"
                            d="M-6.139,2.254a1.115,1.115,0,0,0,1.1-1.127A1.115,1.115,0,0,0-6.139,0H-27.546a6.21,6.21,0,0,0-6.139,6.28v21.9a6.21,6.21,0,0,0,6.139,6.28H-6.139A6.21,6.21,0,0,0,0,28.178V10.144A1.115,1.115,0,0,0-1.1,9.017a1.115,1.115,0,0,0-1.1,1.127V28.178A3.981,3.981,0,0,1-6.139,32.2H-27.546a3.981,3.981,0,0,1-3.935-4.025V6.28a3.981,3.981,0,0,1,3.935-4.025Z"
                            transform="translate(0.157 37.839) rotate(-180)" fill="#272727" />
                        <path id="Path-2" data-name="Path"
                            d="M0,1.127A1.115,1.115,0,0,1,1.1,0,1.115,1.115,0,0,1,2.2,1.127V8.212A1.115,1.115,0,0,1,1.1,9.339,1.115,1.115,0,0,1,0,8.212Z"
                            transform="translate(22.867 0.161)" fill="#272727" />
                        <path id="Path-3" data-name="Path"
                            d="M0,1.127A1.115,1.115,0,0,1,1.1,0,1.115,1.115,0,0,1,2.2,1.127V8.212A1.115,1.115,0,0,1,1.1,9.339,1.115,1.115,0,0,1,0,8.212Z"
                            transform="translate(9.016 0.161)" fill="#272727" />
                        <path id="Path-4" data-name="Path"
                            d="M1.1,2.254A1.115,1.115,0,0,1,0,1.127,1.115,1.115,0,0,1,1.1,0H21.25a1.115,1.115,0,0,1,1.1,1.127,1.115,1.115,0,0,1-1.1,1.127Z"
                            transform="translate(5.824 14.653)" fill="#272727" />
                        <ellipse id="Oval" cx="1.259" cy="1.288" rx="1.259" ry="1.288" transform="translate(7.87 20.61)"
                            fill="#525252" />
                        <ellipse id="Oval-2" data-name="Oval" cx="1.259" cy="1.288" rx="1.259" ry="1.288"
                            transform="translate(7.87 27.051)" fill="#525252" />
                        <ellipse id="Oval-3" data-name="Oval" cx="1.259" cy="1.288" rx="1.259" ry="1.288"
                            transform="translate(15.426 20.61)" fill="#525252" />
                        <ellipse id="Oval-4" data-name="Oval" cx="1.259" cy="1.288" rx="1.259" ry="1.288"
                            transform="translate(15.426 27.051)" fill="#525252" />
                        <ellipse id="Oval-5" data-name="Oval" cx="1.259" cy="1.288" rx="1.259" ry="1.288"
                            transform="translate(22.981 20.61)" fill="#525252" />
                        <ellipse id="Oval-6" data-name="Oval" cx="1.259" cy="1.288" rx="1.259" ry="1.288"
                            transform="translate(22.981 27.051)" fill="#525252" />
                    </g>
                </g>
            </svg>


        </div>
        <div class="col-5 col-sm-5 col-md-5 col-lg-2 word">
            <p>27 April, 2019</p>
        </div>
        <div class="col-12 letter">
            <h1>
                <b>Having experience with creative studio and it’s the <br> ultimate creative factory version of this
                    planet.</b>
            </h1><br>
            <p>Computer users and programmers have become so accustomed to windows, <br> even for the changing capabilities and the appearances of the interface of the <br> versions, therefore it has remained Microsoft’s product. Although, Lycoris, Red Hat,
                <br> Mandrake, Suse, Knoppix, Slackware and Lindows make up some of the different <br> versions of LINUX. These companies release their own versions of the systems with <br> minor changes, and yet always with the same bottom line. The
                simple fact that <br> not one of these companies are close to competing with Windows, for the most <br> part causes the difference in market share.
                <br><br> It sometimes seems everyone on the planet is using Windows. Many say Windows <br> is way better than LINUX because of the simple handling of the hardware. There <br> are huge differences between the number of users of windows.
                Many say LINUX is <br> far better because it started as an Open Source software and thus is flexible than <br> Windows. Then what accounts for the enormous difference in market share <br> between these two operating systems.
            </p>

        </div>
        <div class="col-12 asbtn">
            <p><a href="#">Over time, even the most sophisticated, memory packed computer <br> can begin to run slow if
                    we don’t do something to prevent it. <br><b>Marc Reyes</b> </a></p>
        </div>
        <div class="col-12 letter1">
            <p>It won’t be a bigger problem to find one video game lover in your neighbor. Since <br> the introduction of Virtual Game, it has been achieving great heights so far as its <br> popularity and technological advancement are concerned. The history
                of video <br> game is as interesting as a fairy tale. The quality of today’s video game was not <br> at all there when video game first conceptualized and played ever. During the <br> formulative years, video games were created by using
                various interactive <br> electronic devices with various display formats.
            </p>
        </div>
        <div class="col-12 bottombar">
            <div class="row">
                <div class="col-2 col-sm-1 col-md-1" style="margin: 0;">
                    <p><a href="#">Business</a></p>
                </div>
                <div class="col-2 col-sm-1 col-md-1">
                    <p><a href="#">Creative</a></p>
                </div>
                <div class="col-2 col-sm-1 col-md-2">
                    <p><a href="#">Conference</a></p>
                </div>
                <div class="col-2 col-sm-1 col-md-1">
                    <p><a href="#">Event</a></p>
                </div>
                <div class="col-12 col-sm-6 col-md-6">
                    <div class="row" style="justify-content:flex-end;">
                        <div class="word">
                            <p><a href="#"><b>Share</b></a></p>
                        </div>
                        <div class="one">

                        </div>
                        <div class="two">

                        </div>
                        <div class="three">

                        </div>
                        <div class="four">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 navs">
            <div class="row">
                <div class="col-6 col-sm-6">
                    <div class="row">
                        <div class="arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.875" height="28.827" viewBox="0 0 16.875 28.827">
                                <path id="Path_2" data-name="Path 2" d="M13.7,0,0,12.868,14,26"
                                    transform="translate(1.461 1.414)" fill="none" stroke="#0c0c0d"
                                    stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" opacity="0.3" />
                            </svg>
                        </div>
                        <div class="division">
                            <p>PREVIOUS</p><br>
                            <h3><b><a href="#">How does screen work</a></b></h3>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-6">
                    <div class="row">

                        <div class="division1">
                            <p>NEXT</p><br>
                            <h3><b><a href="#">How does screen work</a></b></h3>
                        </div>
                        <div class="arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.875" height="28.827" viewBox="0 0 16.875 28.827">
                                <path id="Path_2" data-name="Path 2" d="M-13.7,0,0,12.868-14,26"
                                    transform="translate(15.413 1.414)" fill="none" stroke="#0c0c0d"
                                    stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12">
            <div class="row firstpartofcomment">
                <div class="col-1 col-sm-2 col-md-2 col-lg-1 round">

                </div>
                <div class="col-6 sentence">
                    <h1><b>Caleb Richardson</b></h1>
                    <p>A 29 years old designer, developer and photographer. <br> Live in Nevada New City, United State. Studied at <br> California State University.</p>
                </div>
                <div class="col-4 buton">
                    <button type="button">FOLLOW</button>
                </div>
            </div>
        </div>
        <div class="col-11" style="padding-left: 100px;">
            <div class="row secondpartofcomment">
                <div class="col-10">
                    <div class="row">
                        <div class="col-9 col-md-7 col-lg-5 sentence1">
                            <p>Show other 7 comments</p>
                        </div>
                        <div class="col-1 col-md-3 col-lg-5 ">
                            <svg id="down-arrow" xmlns="http://www.w3.org/2000/svg" width="17" height="8" viewBox="0 0 17 8">
                                <path id="Shape"
                                    d="M16.826.155a.661.661,0,0,0-.849,0L8.508,6.738,1.025.155a.661.661,0,0,0-.849,0A.485.485,0,0,0,.176.9L8.069,7.845A.63.63,0,0,0,8.494,8a.657.657,0,0,0,.425-.155L16.811.9A.476.476,0,0,0,16.826.155Z"
                                    fill="#252525" opacity="0.8" />
                            </svg>

                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-2  col-md-1 col-lg-1 round1">

                        </div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-5 tittle">
                                    <b>
                                        Mitchell Greene
                                    </b>
                                </div>
                                <div class="col-7 time">
                                    <p>9 April, 2019 3:53 pm</p>
                                </div>
                                <div class="col-12 text">
                                    <p>The resulting series, aptly named Americana, follows his quintessential colours, simplicity and back <br> cool capturing the heart of America's Golden State. Have you noticed how everybody takes it for <br> granted
                                        a experience is automatically, unreservedly, unremittingly bad. </p>
                                </div>
                                <div class="col-4 reply">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="77" height="25" viewBox="0 0 77 25">
                                        <g id="Reply" transform="translate(0 -6)">
                                            <text id="Reply-2" data-name="Reply" transform="translate(26 25)"
                                                fill="#272727" font-size="18" font-family="Poppins-Regular, Poppins"
                                                letter-spacing="0.028em">
                                                <tspan x="0" y="0">Reply</tspan>
                                            </text>
                                            <path id="Shape"
                                                d="M6.764,13.9.1,7.236a.335.335,0,0,1,0-.472L6.764.1a.333.333,0,0,1,.569.235V4.668C8.895,4.716,16,5.352,16,13a.334.334,0,0,1-.653.094C14.412,9.9,8.778,9.418,7.333,9.346v4.321a.332.332,0,0,1-.206.308A.317.317,0,0,1,7,14,.334.334,0,0,1,6.764,13.9Z"
                                                transform="translate(0 9)" fill="#c6c6c6" />
                                        </g>
                                    </svg>

                                </div>
                                <div class="col-4 like">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="58" height="25" viewBox="0 0 58 25">
                                        <g id="like" transform="translate(0 -6)">
                                            <text id="Like-2" data-name="Like" transform="translate(23 25)"
                                                fill="#272727" font-size="18" font-family="Poppins-Regular, Poppins"
                                                letter-spacing="0.028em">
                                                <tspan x="0" y="0">Like</tspan>
                                            </text>
                                            <path id="Shape"
                                                d="M1.932,7.92a5.824,5.824,0,0,1-1.8-2.983A3.65,3.65,0,0,1,.022,3.578,3.672,3.672,0,0,1,3.54,0,3.373,3.373,0,0,1,6.464,1.715,3.5,3.5,0,0,1,9.46,0a3.672,3.672,0,0,1,3.519,3.578,3.7,3.7,0,0,1-.111,1.359,5.832,5.832,0,0,1-1.8,2.983L6.461,12Z"
                                                transform="translate(0 10)" fill="#b6b6b6" />
                                        </g>
                                    </svg>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-12" style="padding-left: 100px;padding-top:30px;">
                    <div class="row">
                        <div class="col-2 col-md-1  col-lg-1 round2">

                        </div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-5 tittle">
                                    <b>
                                        Mitchell Greene
                                    </b>
                                </div>
                                <div class="col-7 time">
                                    <p>9 April, 2019 3:53 pm</p>
                                </div>
                                <div class="col-12 text">
                                    <p>The resulting series, aptly named Americana, follows his quintessential colours, simplicity and back <br> cool capturing the heart of America's Golden State. Have you noticed how everybody takes it for <br> granted
                                        a experience is automatically, unreservedly, unremittingly bad. </p>
                                </div>
                                <div class="col-5 reply">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="77" height="25" viewBox="0 0 77 25">
                                        <g id="Reply" transform="translate(0 -6)">
                                            <text id="Reply-2" data-name="Reply" transform="translate(26 25)"
                                                fill="#272727" font-size="18" font-family="Poppins-Regular, Poppins"
                                                letter-spacing="0.028em">
                                                <tspan x="0" y="0">Reply</tspan>
                                            </text>
                                            <path id="Shape"
                                                d="M6.764,13.9.1,7.236a.335.335,0,0,1,0-.472L6.764.1a.333.333,0,0,1,.569.235V4.668C8.895,4.716,16,5.352,16,13a.334.334,0,0,1-.653.094C14.412,9.9,8.778,9.418,7.333,9.346v4.321a.332.332,0,0,1-.206.308A.317.317,0,0,1,7,14,.334.334,0,0,1,6.764,13.9Z"
                                                transform="translate(0 9)" fill="#c6c6c6" />
                                        </g>
                                    </svg>

                                </div>
                                <div class="col-5 like">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="58" height="25" viewBox="0 0 58 25">
                                        <g id="like" transform="translate(0 -6)">
                                            <text id="Like-2" data-name="Like" transform="translate(23 25)"
                                                fill="#272727" font-size="18" font-family="Poppins-Regular, Poppins"
                                                letter-spacing="0.028em">
                                                <tspan x="0" y="0">Like</tspan>
                                            </text>
                                            <path id="Shape"
                                                d="M1.932,7.92a5.824,5.824,0,0,1-1.8-2.983A3.65,3.65,0,0,1,.022,3.578,3.672,3.672,0,0,1,3.54,0,3.373,3.373,0,0,1,6.464,1.715,3.5,3.5,0,0,1,9.46,0a3.672,3.672,0,0,1,3.519,3.578,3.7,3.7,0,0,1-.111,1.359,5.832,5.832,0,0,1-1.8,2.983L6.461,12Z"
                                                transform="translate(0 10)" fill="#b6b6b6" />
                                        </g>
                                    </svg>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-12" style="padding-left: 100px;padding-top:30px;">
                    <div class="row">
                        <div class="col-2 col-md-1  col-lg-1 round2">

                        </div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-5 tittle">
                                    <b>
                                        Mitchell Greene
                                    </b>
                                </div>
                                <div class="col-7 time">
                                    <p>9 April, 2019 3:53 pm</p>
                                </div>
                                <div class="col-12 text">
                                    <p>The resulting series, aptly named Americana, follows his quintessential colours, simplicity and back <br> cool capturing the heart of America's Golden State. Have you noticed how everybody takes it for <br> granted
                                        a experience is automatically, unreservedly, unremittingly bad. </p>
                                </div>
                                <div class="col-5 reply">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="77" height="25" viewBox="0 0 77 25">
                                        <g id="Reply" transform="translate(0 -6)">
                                            <text id="Reply-2" data-name="Reply" transform="translate(26 25)"
                                                fill="#272727" font-size="18" font-family="Poppins-Regular, Poppins"
                                                letter-spacing="0.028em">
                                                <tspan x="0" y="0">Reply</tspan>
                                            </text>
                                            <path id="Shape"
                                                d="M6.764,13.9.1,7.236a.335.335,0,0,1,0-.472L6.764.1a.333.333,0,0,1,.569.235V4.668C8.895,4.716,16,5.352,16,13a.334.334,0,0,1-.653.094C14.412,9.9,8.778,9.418,7.333,9.346v4.321a.332.332,0,0,1-.206.308A.317.317,0,0,1,7,14,.334.334,0,0,1,6.764,13.9Z"
                                                transform="translate(0 9)" fill="#c6c6c6" />
                                        </g>
                                    </svg>

                                </div>
                                <div class="col-5 like">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="58" height="25" viewBox="0 0 58 25">
                                        <g id="like" transform="translate(0 -6)">
                                            <text id="Like-2" data-name="Like" transform="translate(23 25)"
                                                fill="#272727" font-size="18" font-family="Poppins-Regular, Poppins"
                                                letter-spacing="0.028em">
                                                <tspan x="0" y="0">Like</tspan>
                                            </text>
                                            <path id="Shape"
                                                d="M1.932,7.92a5.824,5.824,0,0,1-1.8-2.983A3.65,3.65,0,0,1,.022,3.578,3.672,3.672,0,0,1,3.54,0,3.373,3.373,0,0,1,6.464,1.715,3.5,3.5,0,0,1,9.46,0a3.672,3.672,0,0,1,3.519,3.578,3.7,3.7,0,0,1-.111,1.359,5.832,5.832,0,0,1-1.8,2.983L6.461,12Z"
                                                transform="translate(0 10)" fill="#b6b6b6" />
                                        </g>
                                    </svg>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <form class="mx-1 mx-md-4 form1" method="post" enctype='multipart/form-data' >
                    {% csrf_token %} 

                    <br>
                  </form>


            </div>
        </div>
    </div>
</div>
</div>
<div class="may">
    <div class="row" style="background-color: #F9F9F9;height:940px;
    justify-content: center;">
        <div class="changes">
            <div class="row">
                <div class="col-12">
                    <div class="test">
                        <h1>You may also like</h1><br>
                        <p>Making changes in your life is great and it is the way we <br> grow and develop as people change is a constant.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12 mays">
            <div class="row" style="justify-content: center;">
                <div class="col-12 col-sm-6 col-md-3 may1">
                    <div class="topbox">
                        <p>Creative, Wordpress</p>
                    </div>
                    <div class="centerbox">
                        <p>While most people in <br> enjoy casino gambling, <br> sports excitemental <br> granted quality
                        </p>
                    </div>
                    <div class="bottombox">
                        <b>
                            <p>17 October, 2019</p>
                        </b>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 may1">
                    <div class="topbox">
                        <p>Branding, Marketing</p>
                    </div>
                    <div class="centerbox">
                        <p>While most people <br> enjoy casino gambling, <br> sports excitement</p>
                    </div><br><br>
                    <div class="bottombox">
                        <b>
                            <p>14 November, 2019</p>
                        </b>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 may1">
                    <div class="topbox">
                        <p>Design, Illustration</p>
                    </div>
                    <div class="centerbox">
                        <p>While most people <br> enjoy casino gambling, <br> sports excitement</p>
                    </div><br><br>
                    <div class="bottombox">
                        <b>
                            <p>27 November, 2019</p>
                        </b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}