{%extends "index.html"%} {%block links5%}
<link rel="stylesheet" href="/static/css/blog.css"> {%endblock%} {%block body %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 posts">
                <h1>Blog posts</h1>
                <p>Dexfolio is a multidisciplinary digital agency based in New York. <br> We believe good design solves business problems.
                </p>
            </div>

        </div>
    </div>
    <div class="row justify-content-center text-align-center">
        <div class="col-11 black-side">
            <div class="asnav">
                <div class="row first" style="margin-top: 300px;">
                    <div class="col-3 col-sm-6 col-md-4 col-lg-3 col-xl-3 as">
                        <div class="row text-align-center justify-content-center">
                            <div class=" picture">

                            </div>
                            <div class=" by">
                                <p>by <a href="#"><u>Angel Stephens</u></a></p>
                            </div>
                        </div>

                    </div>
                    <div class="image">
                        <svg xmlns="http://www.w3.org/2000/svg" width="33.685" height="37.678" viewBox="0 0 33.685 37.678">
                            <g id="Group" transform="translate(-0.157 -0.161)">
                                <path id="Path"
                                    d="M-6.139,2.254a1.115,1.115,0,0,0,1.1-1.127A1.115,1.115,0,0,0-6.139,0H-27.546a6.21,6.21,0,0,0-6.139,6.28v21.9a6.21,6.21,0,0,0,6.139,6.28H-6.139A6.21,6.21,0,0,0,0,28.178V10.144A1.115,1.115,0,0,0-1.1,9.017a1.115,1.115,0,0,0-1.1,1.127V28.178A3.981,3.981,0,0,1-6.139,32.2H-27.546a3.981,3.981,0,0,1-3.935-4.025V6.28a3.981,3.981,0,0,1,3.935-4.025Z"
                                    transform="translate(0.157 37.839) rotate(-180)" fill="#fff" />
                                <path id="Path-2" data-name="Path"
                                    d="M0,1.127A1.115,1.115,0,0,1,1.1,0,1.115,1.115,0,0,1,2.2,1.127V8.212A1.115,1.115,0,0,1,1.1,9.339,1.115,1.115,0,0,1,0,8.212Z"
                                    transform="translate(22.867 0.161)" fill="#fff" />
                                <path id="Path-3" data-name="Path"
                                    d="M0,1.127A1.115,1.115,0,0,1,1.1,0,1.115,1.115,0,0,1,2.2,1.127V8.212A1.115,1.115,0,0,1,1.1,9.339,1.115,1.115,0,0,1,0,8.212Z"
                                    transform="translate(9.016 0.161)" fill="#fff" />
                                <path id="Path-4" data-name="Path"
                                    d="M1.1,2.254A1.115,1.115,0,0,1,0,1.127,1.115,1.115,0,0,1,1.1,0H21.25a1.115,1.115,0,0,1,1.1,1.127,1.115,1.115,0,0,1-1.1,1.127Z"
                                    transform="translate(5.824 14.653)" fill="#fff" />
                                <ellipse id="Oval" cx="1.259" cy="1.288" rx="1.259" ry="1.288"
                                    transform="translate(7.87 20.61)" fill="#fff" />
                                <ellipse id="Oval-2" data-name="Oval" cx="1.259" cy="1.288" rx="1.259" ry="1.288"
                                    transform="translate(7.87 27.051)" fill="#fff" />
                                <ellipse id="Oval-3" data-name="Oval" cx="1.259" cy="1.288" rx="1.259" ry="1.288"
                                    transform="translate(15.426 20.61)" fill="#fff" />
                                <ellipse id="Oval-4" data-name="Oval" cx="1.259" cy="1.288" rx="1.259" ry="1.288"
                                    transform="translate(15.426 27.051)" fill="#fff" />
                                <ellipse id="Oval-5" data-name="Oval" cx="1.259" cy="1.288" rx="1.259" ry="1.288"
                                    transform="translate(22.981 20.61)" fill="#fff" />
                                <ellipse id="Oval-6" data-name="Oval" cx="1.259" cy="1.288" rx="1.259" ry="1.288"
                                    transform="translate(22.981 27.051)" fill="#fff" />
                            </g>
                        </svg>

                    </div>
                    <div class="col-7 col-sm-4 col-md-6 col-lg-7 col-xl-4 as word">
                        <p>27 April, 2019</p>
                    </div>

                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class=" text">
                        <h1>Today, many people rely on <br> photography as homework.</h1>
                        <p>Do you belong to a group that helps make a difference in people’s lives. Does your <br> group struggle to find ways to help others? Tired of the same old bake yard Sale <br> and contribute the proceeds to a worthy cause.</p>

                        <p><b><a href="#"><u>READ MORE</u></a></b></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<article>
    <div class="container">
        <div class="row">
            <div class="col-12 com-sm-12 col-md-8">
                <div class="row">
                    <div class="col-12 ">
                        <div class="empty">

                        </div>
                        <div class="nav1">
                            <div class="row" style="padding-top: 20px;">
                                <div class="col-7  col-md-7">
                                    <div class="row text-align-center justify-content-center">
                                        <div class=" picture">

                                        </div>
                                        <div class=" by">
                                            <p>by <a href="#"><u>Angel Stephens</u></a></p>
                                        </div>
                                    </div>

                                </div>
                                <div class="image">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="33.685" height="37.678" viewBox="0 0 33.685 37.678">
                                        <g id="Group" transform="translate(-0.157 -0.161)">
                                            <path id="Path"
                                                d="M-6.139,2.254a1.115,1.115,0,0,0,1.1-1.127A1.115,1.115,0,0,0-6.139,0H-27.546a6.21,6.21,0,0,0-6.139,6.28v21.9a6.21,6.21,0,0,0,6.139,6.28H-6.139A6.21,6.21,0,0,0,0,28.178V10.144A1.115,1.115,0,0,0-1.1,9.017a1.115,1.115,0,0,0-1.1,1.127V28.178A3.981,3.981,0,0,1-6.139,32.2H-27.546a3.981,3.981,0,0,1-3.935-4.025V6.28a3.981,3.981,0,0,1,3.935-4.025Z"
                                                transform="translate(0.157 37.839) rotate(-180)" fill="#272727" />
                                            <path id="Path-2" data-name="Path"
                                                d="M0,1.127A1.115,1.115,0,0,1,1.1,0,1.115,1.115,0,0,1,2.2,1.127V8.212A1.115,1.115,0,0,1,1.1,9.339,1.115,1.115,0,0,1,0,8.212Z"
                                                transform="translate(22.867 0.161)" fill="#272727" />
                                            <path id="Path-3" data-name="Path"
                                                d="M0,1.127A1.115,1.115,0,0,1,1.1,0,1.115,1.115,0,0,1,2.2,1.127V8.212A1.115,1.115,0,0,1,1.1,9.339,1.115,1.115,0,0,1,0,8.212Z"
                                                transform="translate(9.016 0.161)" fill="#272727" />
                                            <path id="Path-4" data-name="Path"
                                                d="M1.1,2.254A1.115,1.115,0,0,1,0,1.127,1.115,1.115,0,0,1,1.1,0H21.25a1.115,1.115,0,0,1,1.1,1.127,1.115,1.115,0,0,1-1.1,1.127Z"
                                                transform="translate(5.824 14.653)" fill="#272727" />
                                            <ellipse id="Oval" cx="1.259" cy="1.288" rx="1.259" ry="1.288"
                                                transform="translate(7.87 20.61)" fill="#525252" />
                                            <ellipse id="Oval-2" data-name="Oval" cx="1.259" cy="1.288" rx="1.259"
                                                ry="1.288" transform="translate(7.87 27.051)" fill="#525252" />
                                            <ellipse id="Oval-3" data-name="Oval" cx="1.259" cy="1.288" rx="1.259"
                                                ry="1.288" transform="translate(15.426 20.61)" fill="#525252" />
                                            <ellipse id="Oval-4" data-name="Oval" cx="1.259" cy="1.288" rx="1.259"
                                                ry="1.288" transform="translate(15.426 27.051)" fill="#525252" />
                                            <ellipse id="Oval-5" data-name="Oval" cx="1.259" cy="1.288" rx="1.259"
                                                ry="1.288" transform="translate(22.981 20.61)" fill="#525252" />
                                            <ellipse id="Oval-6" data-name="Oval" cx="1.259" cy="1.288" rx="1.259"
                                                ry="1.288" transform="translate(22.981 27.051)" fill="#525252" />
                                        </g>
                                    </svg>


                                </div>
                                <div class="col-3 col-md-3 word">
                                    <p>27 April, 2019</p>
                                </div>
                                <div class="col-12 underpart">
                                    <h1><b><a href="#">Having experience with creative studio <br> and
                                                it’s the ultimate
                                                creative factory <br>
                                                version of this planet.</a></b></h1>
                                    <p>Making changes in your life is great and it is the way we grow and develop as
                                        <br> people. Change is a constant process and part of being human. When you <br> embark on changing anything in your life you have to start from where you <br> are. Until you know where that is it would be difficult
                                        to effectively make the <br> change. You have to start with a baseline.
                                    </p>
                                    <p><b><a href="#"><u>READ MORE</u></a></b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="empty">

                        </div>
                        <div class="nav1">
                            <div class="row" style="padding-top: 20px;">
                                <div class="col-7 col-md-7">
                                    <div class="row text-align-center justify-content-center">
                                        <div class=" picture">

                                        </div>
                                        <div class=" by">
                                            <p>by <a href="#"><u>Angel Stephens</u></a></p>
                                        </div>
                                    </div>

                                </div>
                                <div class="image">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="33.685" height="37.678" viewBox="0 0 33.685 37.678">
                                        <g id="Group" transform="translate(-0.157 -0.161)">
                                            <path id="Path"
                                                d="M-6.139,2.254a1.115,1.115,0,0,0,1.1-1.127A1.115,1.115,0,0,0-6.139,0H-27.546a6.21,6.21,0,0,0-6.139,6.28v21.9a6.21,6.21,0,0,0,6.139,6.28H-6.139A6.21,6.21,0,0,0,0,28.178V10.144A1.115,1.115,0,0,0-1.1,9.017a1.115,1.115,0,0,0-1.1,1.127V28.178A3.981,3.981,0,0,1-6.139,32.2H-27.546a3.981,3.981,0,0,1-3.935-4.025V6.28a3.981,3.981,0,0,1,3.935-4.025Z"
                                                transform="translate(0.157 37.839) rotate(-180)" fill="#272727" />
                                            <path id="Path-2" data-name="Path"
                                                d="M0,1.127A1.115,1.115,0,0,1,1.1,0,1.115,1.115,0,0,1,2.2,1.127V8.212A1.115,1.115,0,0,1,1.1,9.339,1.115,1.115,0,0,1,0,8.212Z"
                                                transform="translate(22.867 0.161)" fill="#272727" />
                                            <path id="Path-3" data-name="Path"
                                                d="M0,1.127A1.115,1.115,0,0,1,1.1,0,1.115,1.115,0,0,1,2.2,1.127V8.212A1.115,1.115,0,0,1,1.1,9.339,1.115,1.115,0,0,1,0,8.212Z"
                                                transform="translate(9.016 0.161)" fill="#272727" />
                                            <path id="Path-4" data-name="Path"
                                                d="M1.1,2.254A1.115,1.115,0,0,1,0,1.127,1.115,1.115,0,0,1,1.1,0H21.25a1.115,1.115,0,0,1,1.1,1.127,1.115,1.115,0,0,1-1.1,1.127Z"
                                                transform="translate(5.824 14.653)" fill="#272727" />
                                            <ellipse id="Oval" cx="1.259" cy="1.288" rx="1.259" ry="1.288"
                                                transform="translate(7.87 20.61)" fill="#525252" />
                                            <ellipse id="Oval-2" data-name="Oval" cx="1.259" cy="1.288" rx="1.259"
                                                ry="1.288" transform="translate(7.87 27.051)" fill="#525252" />
                                            <ellipse id="Oval-3" data-name="Oval" cx="1.259" cy="1.288" rx="1.259"
                                                ry="1.288" transform="translate(15.426 20.61)" fill="#525252" />
                                            <ellipse id="Oval-4" data-name="Oval" cx="1.259" cy="1.288" rx="1.259"
                                                ry="1.288" transform="translate(15.426 27.051)" fill="#525252" />
                                            <ellipse id="Oval-5" data-name="Oval" cx="1.259" cy="1.288" rx="1.259"
                                                ry="1.288" transform="translate(22.981 20.61)" fill="#525252" />
                                            <ellipse id="Oval-6" data-name="Oval" cx="1.259" cy="1.288" rx="1.259"
                                                ry="1.288" transform="translate(22.981 27.051)" fill="#525252" />
                                        </g>
                                    </svg>


                                </div>
                                <div class="col-3 col-md-3 word">
                                    <p>27 April, 2019</p>
                                </div>
                                <div class="col-12 underpart">
                                    <h1><b><a href="#">As a business owner or manager, the <br> decision
                                                to opt for offshore software.</a></b></h1>
                                    <p>Making changes in your life is great and it is the way we grow and develop as
                                        <br> people. Change is a constant process and part of being human. When you <br> embark on changing anything in your life you have to start from where you <br> are. Until you know where that is it would be difficult
                                        to effectively make the <br> change. You have to start with a baseline.
                                    </p>
                                    <p><b><a href="#"><u>READ MORE</u></a></b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="empty">

                        </div>
                        <div class="nav1">
                            <div class="row" style="padding-top: 20px;">
                                <div class="col-7 col-md-7">
                                    <div class="row text-align-center justify-content-center">
                                        <div class=" picture">

                                        </div>
                                        <div class=" by">
                                            <p>by <a href="#"><u>Angel Stephens</u></a></p>
                                        </div>
                                    </div>

                                </div>
                                <div class="image">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="33.785" height="37.678" viewBox="0 0 33.685 37.678">
                                        <g id="Group" transform="translate(-0.157 -0.161)">
                                            <path id="Path"
                                                d="M-6.139,2.254a1.115,1.115,0,0,0,1.1-1.127A1.115,1.115,0,0,0-6.139,0H-27.546a6.21,6.21,0,0,0-6.139,6.28v21.9a6.21,6.21,0,0,0,6.139,6.28H-6.139A6.21,6.21,0,0,0,0,28.178V10.144A1.115,1.115,0,0,0-1.1,9.017a1.115,1.115,0,0,0-1.1,1.127V28.178A3.981,3.981,0,0,1-6.139,32.2H-27.546a3.981,3.981,0,0,1-3.935-4.025V6.28a3.981,3.981,0,0,1,3.935-4.025Z"
                                                transform="translate(0.157 37.839) rotate(-180)" fill="#272727" />
                                            <path id="Path-2" data-name="Path"
                                                d="M0,1.127A1.115,1.115,0,0,1,1.1,0,1.115,1.115,0,0,1,2.2,1.127V8.212A1.115,1.115,0,0,1,1.1,9.339,1.115,1.115,0,0,1,0,8.212Z"
                                                transform="translate(22.867 0.161)" fill="#272727" />
                                            <path id="Path-3" data-name="Path"
                                                d="M0,1.127A1.115,1.115,0,0,1,1.1,0,1.115,1.115,0,0,1,2.2,1.127V8.212A1.115,1.115,0,0,1,1.1,9.339,1.115,1.115,0,0,1,0,8.212Z"
                                                transform="translate(9.016 0.161)" fill="#272727" />
                                            <path id="Path-4" data-name="Path"
                                                d="M1.1,2.254A1.115,1.115,0,0,1,0,1.127,1.115,1.115,0,0,1,1.1,0H21.25a1.115,1.115,0,0,1,1.1,1.127,1.115,1.115,0,0,1-1.1,1.127Z"
                                                transform="translate(5.824 14.653)" fill="#272727" />
                                            <ellipse id="Oval" cx="1.259" cy="1.288" rx="1.259" ry="1.288"
                                                transform="translate(7.87 20.61)" fill="#525252" />
                                            <ellipse id="Oval-2" data-name="Oval" cx="1.259" cy="1.288" rx="1.259"
                                                ry="1.288" transform="translate(7.87 27.051)" fill="#525252" />
                                            <ellipse id="Oval-3" data-name="Oval" cx="1.259" cy="1.288" rx="1.259"
                                                ry="1.288" transform="translate(15.426 20.61)" fill="#525252" />
                                            <ellipse id="Oval-4" data-name="Oval" cx="1.259" cy="1.288" rx="1.259"
                                                ry="1.288" transform="translate(15.426 27.051)" fill="#525252" />
                                            <ellipse id="Oval-5" data-name="Oval" cx="1.259" cy="1.288" rx="1.259"
                                                ry="1.288" transform="translate(22.981 20.61)" fill="#525252" />
                                            <ellipse id="Oval-6" data-name="Oval" cx="1.259" cy="1.288" rx="1.259"
                                                ry="1.288" transform="translate(22.981 27.051)" fill="#525252" />
                                        </g>
                                    </svg>


                                </div>
                                <div class="col-3 col-md-3 word">
                                    <p>27 April, 2019</p>
                                </div>
                                <div class="col-12 underpart">
                                    <h1><b><a href="#">So you have your new digital camera <br> and
                                                clicking away to glory anything <br> and everything in sight. </a></b>
                                    </h1>
                                    <p>Making changes in your life is great and it is the way we grow and develop as
                                        <br> people. Change is a constant process and part of being human. When you <br> embark on changing anything in your life you have to start from where you <br> are. Until you know where that is it would be difficult
                                        to effectively make the <br> change. You have to start with a baseline.
                                    </p>
                                    <p><b><a href="#"><u>READ MORE</u></a></b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="empty">

                        </div>
                        <div class="nav1">
                            <div class="row" style="padding-top: 20px;">
                                <div class="col-7 col-md-7">
                                    <div class="row text-align-center justify-content-center">
                                        <div class=" picture">

                                        </div>
                                        <div class=" by">
                                            <p>by <a href="#"><u>Angel Stephens</u></a></p>
                                        </div>
                                    </div>

                                </div>
                                <div class="image">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="33.685" height="37.678" viewBox="0 0 33.685 37.678">
                                        <g id="Group" transform="translate(-0.157 -0.161)">
                                            <path id="Path"
                                                d="M-6.139,2.254a1.115,1.115,0,0,0,1.1-1.127A1.115,1.115,0,0,0-6.139,0H-27.546a6.21,6.21,0,0,0-6.139,6.28v21.9a6.21,6.21,0,0,0,6.139,6.28H-6.139A6.21,6.21,0,0,0,0,28.178V10.144A1.115,1.115,0,0,0-1.1,9.017a1.115,1.115,0,0,0-1.1,1.127V28.178A3.981,3.981,0,0,1-6.139,32.2H-27.546a3.981,3.981,0,0,1-3.935-4.025V6.28a3.981,3.981,0,0,1,3.935-4.025Z"
                                                transform="translate(0.157 37.839) rotate(-180)" fill="#272727" />
                                            <path id="Path-2" data-name="Path"
                                                d="M0,1.127A1.115,1.115,0,0,1,1.1,0,1.115,1.115,0,0,1,2.2,1.127V8.212A1.115,1.115,0,0,1,1.1,9.339,1.115,1.115,0,0,1,0,8.212Z"
                                                transform="translate(22.867 0.161)" fill="#272727" />
                                            <path id="Path-3" data-name="Path"
                                                d="M0,1.127A1.115,1.115,0,0,1,1.1,0,1.115,1.115,0,0,1,2.2,1.127V8.212A1.115,1.115,0,0,1,1.1,9.339,1.115,1.115,0,0,1,0,8.212Z"
                                                transform="translate(9.016 0.161)" fill="#272727" />
                                            <path id="Path-4" data-name="Path"
                                                d="M1.1,2.254A1.115,1.115,0,0,1,0,1.127,1.115,1.115,0,0,1,1.1,0H21.25a1.115,1.115,0,0,1,1.1,1.127,1.115,1.115,0,0,1-1.1,1.127Z"
                                                transform="translate(5.824 14.653)" fill="#272727" />
                                            <ellipse id="Oval" cx="1.259" cy="1.288" rx="1.259" ry="1.288"
                                                transform="translate(7.87 20.61)" fill="#525252" />
                                            <ellipse id="Oval-2" data-name="Oval" cx="1.259" cy="1.288" rx="1.259"
                                                ry="1.288" transform="translate(7.87 27.051)" fill="#525252" />
                                            <ellipse id="Oval-3" data-name="Oval" cx="1.259" cy="1.288" rx="1.259"
                                                ry="1.288" transform="translate(15.426 20.61)" fill="#525252" />
                                            <ellipse id="Oval-4" data-name="Oval" cx="1.259" cy="1.288" rx="1.259"
                                                ry="1.288" transform="translate(15.426 27.051)" fill="#525252" />
                                            <ellipse id="Oval-5" data-name="Oval" cx="1.259" cy="1.288" rx="1.259"
                                                ry="1.288" transform="translate(22.981 20.61)" fill="#525252" />
                                            <ellipse id="Oval-6" data-name="Oval" cx="1.259" cy="1.288" rx="1.259"
                                                ry="1.288" transform="translate(22.981 27.051)" fill="#525252" />
                                        </g>
                                    </svg>


                                </div>
                                <div class="col-3 col-md-3 word">
                                    <p>27 April, 2019</p>
                                </div>
                                <div class="col-12 underpart">
                                    <h1><b><a href="#">Affiliate marketing is the latest trend <br>
                                                online with so many products.</a></b></h1>
                                    <p>Making changes in your life is great and it is the way we grow and develop as
                                        <br> people. Change is a constant process and part of being human. When you <br> embark on changing anything in your life you have to start from where you <br> are. Until you know where that is it would be difficult
                                        to effectively make the <br> change. You have to start with a baseline.
                                    </p>
                                    <p><b><a href="#"><u>READ MORE</u></a></b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row qeue">
                            <div class="col-1">

                                <p><b><a href="#">Previous</a></b></p>
                            </div>
                            <div class="col-1 number1">
                                <p><a href="#">1</a></p>
                            </div>
                            <div class="col-1 number2">
                                <p><a href="#">2</a></p>
                            </div>
                            <div class="col-1 number3">
                                <p><a href="#">3</a></p>
                            </div>
                            <div class="col-1 number4">
                                <p><a href="#">4</a></p>
                            </div>
                            <div class="col-1 number5">
                                <p><a href="#">5</a></p>
                            </div>
                            <div class="col-1">
                                <p><b><a href="#">Next</a></b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 sidebar">
                <div class="row inputpart">
                    <div class="input-group w-50 col-10">
                        <input type="search" class="form-control p-0" placeholder="Search …" aria-label="Input group example" aria-describedby="basic-addon1">
                        <span class="input-group-text pr-0" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24.398" height="24.398"
                                viewBox="0 0 24.398 24.398">
                                <g id="Group" transform="translate(0 0)">
                                    <g id="Group-2" data-name="Group">
                                        <g id="Group-3" data-name="Group">
                                            <path id="Shape"
                                                d="M22.888,24.14,17.2,18.452A10.46,10.46,0,1,1,18.452,17.2l5.688,5.688a.885.885,0,0,1-1.252,1.252Z"
                                                transform="translate(0 0)" fill="#a4a4a4" />
                                        </g>
                                    </g>
                                </g>
                            </svg>


                        </span>

                    </div>
                </div>
                <div class="col-12 tables">
                    <ul><b>RECENT POSTS</b>
                        <div class="part-1">
                            <li>
                                <a href="#">Photographs are a way of <br> preserving a moment.</a>
                                <p style="color:#A3A3A3">May 27, 2019</p>
                            </li>
                        </div>
                        <div class="part-1">
                            <li>
                                <a href="#">Photographs are a way of <br> preserving a moment.</a>
                                <p style="color:#A3A3A3">May 27, 2019</p>
                            </li>
                        </div>
                        <div class="part-1">
                            <li style="border: none;">
                                <a href="#">Photographs are a way of <br> preserving a moment.</a>
                                <p style="color:#A3A3A3">May 27, 2019</p>
                            </li>
                        </div>
                    </ul>
                    <div class="tables1">
                        <p><b>CATEGORIES</b></p>
                        <div class="row">
                            <div class="col-9">
                                <p><a href="#">Business</a></p>
                            </div>
                            <div class="col-2">
                                <p><a href="#">14</a></p>
                            </div>
                            <div class="col-9">
                                <p><a href="#">Product Design</a></p>
                            </div>
                            <div class="col-2">
                                <p><a href="#">24</a></p>
                            </div>
                            <div class="col-9">
                                <p><a href="#">UI / UX Design</a></p>
                            </div>
                            <div class="col-2">
                                <p><a href="#">34</a></p>
                            </div>
                            <div class="col-9">
                                <p><a href="#">e-Commerce</a></p>
                            </div>
                            <div class="col-2">
                                <p><a href="#">79</a></p>
                            </div>
                            <div class="col-9">
                                <p><a href="#">Web Development</a></p>
                            </div>
                            <div class="col-2">
                                <p><a href="#">6</a></p>
                            </div>
                            <div class="col-9">
                                <p><a href="#">Wordpress</a></p>
                            </div>
                            <div class="col-2">
                                <p><a href="#">53</a></p>
                            </div>
                            <div class="col-9">
                                <p><a href="#">Woo Commerce</a></p>
                            </div>
                            <div class="col-2">
                                <p><a href="#">82</a></p>
                            </div>
                            <div class="col-9">
                                <p><a href="#">Uncategorized</a></p>
                            </div>
                            <div class="col-2">
                                <p><a href="#">14</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="tags">
                        <p><b>TAGS</b></p>
                        <div class="row">
                            <div class="col-4 name">
                                <p><a href="#">agency</a></p>
                            </div>
                            <div class="col-6 name">
                                <p><a href="#">branding</a></p>
                            </div>
                            <div class="col-7 name">
                                <p><a href="#">animation</a></p>
                            </div>
                            <div class="col-3 name">
                                <p><a href="#">IOS</a></p>
                            </div>
                            <div class="col-3 name">
                                <p><a href="#">clean</a></p>
                            </div>
                            <div class="col-7 name">
                                <p><a href="#">contemporary</a></p>
                            </div>
                            <div class="col-6 name">
                                <p><a href="#">creative</a></p>
                            </div>
                            <div class="col-4 name">
                                <p><a href="#">dark</a></p>
                            </div>
                            <div class="col-4 name">
                                <p><a href="#">design</a></p>
                            </div>
                            <div class="col-6 name">
                                <p><a href="#">fullscreen</a></p>
                            </div>
                            <div class="col-7 name">
                                <p><a href="#">greensock</a></p>
                            </div>
                            <div class="col-3 name">
                                <p><a href="#">ui/ux</a></p>
                            </div>
                            <div class="col-5 name">
                                <p><a href="#">minimal</a></p>
                            </div>
                            <div class="col-5 name">
                                <p><a href="#">parallax</a></p>
                            </div>
                            <div class="col-7 name">
                                <p><a href="#">photography</a></p>
                            </div>
                            <div class="col-3 name">
                                <p><a href="#">slick</a></p>
                            </div>
                            <div class="col-5 name">
                                <p><a href="#">template</a></p>
                            </div>
                            <div class="col-5 name">
                                <p><a href="#">wordpress</a></p>
                            </div>
                            <div class="col-7 name">
                                <p><a href="#">premium</a></p>
                            </div>
                            <div class="col-3 name">
                                <p><a href="#">ux</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</article>
{%endblock%}