{%extends "index.html"%} {%block links7%}
<link rel="stylesheet" href="/static/css/contact.css"> {%endblock%} {%block body %}
<div class="container">
    <div class="row">
        <div class="col-12 words">
            <h1>Contact</h1>
            <p>Dexfolio is a multi deciplinery creative studio, is a type <br> of web design & development, multimedia
                design.
            </p>
        </div>
        <div class="col-12 empty">

        </div>

        <div class="col-12">
            <div class="row parts">
                <div class="col-12 col-sm-12 col-md-4 part">
                    <ul><b>Address</b>
                        <li><a href="#">Dexfolio Studio
                            </a></li>
                        <li><a href="#">Labadie Plaza Apt. 464</a></li>
                        <li><a href="#">New York, United State.</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-4 part">
                    <ul><b>Call Us</b>
                        <li><a href="#">+1-541-754-3020</a></li>
                        <li><a href="#">+1-541-754-5624</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-4 part">
                    <ul><b>Reach Us</b>
                        <li><a href="#">hello@dexfolio.net.us</a></li>
                        <li><a href="#">contact@dexfolio.net.us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="margin-top: 100px">
                <div class="lets">
                    <h1>
                        Let’s create <br /> progress together
                    </h1>
                </div>
                <input class="inputs col-12 col-sm-12 col-xs-12" type="text" placeholder="Interested in.." />
                <input type="text " class="inputs1 col-12 col-sm-5 col-sm-5" placeholder="Your name" />
                <input type="text" class="inputs2 col-12 col-sm-5 col-xs-5" placeholder="Email" />
                <input type="email" class="inputs3 col-12 col-sm-12 col-xs-12"
                    placeholder="Project description(Optional)" />
            </div>
            <button type="button" class="down">SUBMIT NOW</button>
        </div>
    </div>
</div>
{%endblock%}